export DOCKER_USER=mydockeruser
export NODE_IP=127.0.0.1:8332
export RPC_USER=myrpcuser
export RPC_PASSWORD=myrpcpassword
export POSTGRES_PASSWORD=supersecret
export POSTGRES_USER=bitkit
export POSTGRES_URI=postgresql://bitkit:supersecret@localhost
export AUTH_USER=briry
export AUTH_PASSWORD=secrets
export ENV=development
export GCLOUD_SERVICE_KEY=encodedjsonjams