/**
 * Container
 */
.container {
    max-width: 800px !important;
}

/**
 * Main Panel
 */
.main-panel {
    padding-top: 1.5rem;
}

/**
 * Navbar
 */
.navbar {
    padding: 0 10px;
}

.navbar svg {
    position: relative;
    top: 2px;
}

.navbar .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/** hack for bulma hover colors **/
.navbar-item.has-text-white:hover {
    background-color: #2366d1 !important;
}

/**
 * Form
 */
form {
    margin-bottom: 1.5rem;
}

.transaction-label {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.transaction-label .label {
    margin-bottom: 0;
}

/**
 * Messages
 */
.message-body {
    border-radius: 0 !important;
}

/**
 * List
 */
.is-unstyled {
    list-style: none !important;
}


@keyframes yellow-fade {
    0%   { background: none; }
    50%  { background: cornsilk; }
    100% { background: none; }
}

.interval-list.is-updated {
    animation: yellow-fade 1s ease-in 1;
}


/**
 * Card
 */
.card {
    margin-bottom: 60px;
}

.card-content p {
    margin-bottom: 20px;
}

/**
 * Bitcoin logo
 */
.bitcoin-logo {
    display: block;
    margin-bottom: 60px;
    text-align: center;
}
